{%- extends "layouts/master_layout.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{{super()}}
 <style>
      body
      {
        background-repeat: :norepeat;
        background=atatched: fixed;
        background-size: cover;
        background-image:url({{url_for('static',filename='images/wp4720655.jpg')}})
      }
  </style>

        <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header"> 
        </div>
              <ul class="nav navbar-nav">
                <li><a href="{{url_for('students.mainstudent')}}">Students</a></li>
                <li><a href="{{url_for('courses.maincourse')}}">Courses</a></li>
                <li class="active"><a href="{{url_for('colleges.maincollege')}}">Colleges</a></li>
              </ul>
            
        </div>
      </nav>

      <div class="container">
    <div class="well">
    <h1 align="center">STUDENT INFORMATION SYSTEM</h1>
    </div>
    <div class="well">
        <form class="form" method="post" role="form">
            <div style="padding-left: 20px; padding-top: 20px; padding-bottom: 20px;">
                {{ form.hidden_tag() }}
            <span>
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.search, placeholder="Search..",style='width:950px;height:50px')}}<button class="btn btn-default mybutton"><i class="fa fa-search"></i>
                 </button>
                 </span>
                 </div>
   </form>
    </div>

<div class="well">

      <div class="col md-12">
      <h1>College List <span><a href="{{ url_for('colleges.addcollege') }}" class=" pull-right"> <ion-icon name="add-circle-outline"></ion-icon> </a></span> </h1>
   <table class="table table-striped">
      <tr>
         <th>College Code</th>
         <th>College Name</th>
         <th>Action</th>
      </tr>

   <tbody>
   {% for college in data %}
   <tr>
      <td>{{college[0]}}</td>
      <td>{{college[1]}}</td>
      <td>
         <span><div class="btn btn-primary btn-edit" data-id="{{college[0]}}"><ion-icon name="create-outline"></ion-icon> </div></span>
         <div class="btn btn-primary btn-delete" data-id="{{college[0]}}"><ion-icon name="trash-outline"></ion-icon></div>
      </td>
   </tr>
      {% endfor %}
   </tbody>
   </table>


</div>
</div>

{%- endblock %}
{% block scripts%}
{{super()}}
<script>
   var url = "{{ url_for('.deletecollege') }}";
   var urledit = "{{ url_for('.editcollege') }}"
</script>
<script src="{{ url_for('static',filename='js/event.js')}}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}