{%- extends "layouts/master_layout.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{{super()}}

 <style>
      body
      {
        background-repeat: :norepeat;
        background=atatched: fixed;
        background-size: cover;
        background-image:url({{url_for('static',filename='images/wp4720655.jpg')}})
      }
  </style>

        <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header"> 
        </div>
              <ul class="nav navbar-nav">
               <li class="active"><a href="{{url_for('students.mainstudent')}}">Students</a></li>
                <li><a href="{{url_for('courses.maincourse')}}">Courses</a></li>
                <li><a href="{{url_for('colleges.maincollege')}}">Colleges</a></li>
              </ul>
            
        </div>
      </nav>

   <div class="container">
    <div class="well">
    <h1 align="center">STUDENT INFORMATION SYSTEM</h1>
    </div>
    <div class="well">
     <form class="example"  method="POST">
       <input type="text" placeholder="Search.." name="search">
       <button type="submit"><i class="fa fa-search"></i></button>
     </form>
    </div>

<div class="well">

      <h1>Student List <span><a href="{{ url_for('students.addstudent') }}" class=" pull-right"> <ion-icon name="add-circle-outline"></ion-icon> </a></span> </h1>
   <div class="table-responsive">
      <table class="table table-striped">

      <tr>
         <th>Profile</th>
         <th>Id</th>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Code</th>
         <th>Course </th>
         <th>Code</th>
         <th>College </th>
         <th>Year</th>
         <th>Gender</th>
         <th>Action</th>
      </tr>

   <tbody>
   {% for students in data %}
   <tr>
      <td><img src="{{students[6]}}" style="width:100px;height:50px;"></td>
      <td>{{students[0]}}</td>
      <td>{{students[1]}}</td>
      <td>{{students[2]}}</td>
      <td>{{students[3]}}</td>
      {% for course in data1 %}
         {% if students.3 == course.0 or students.3 == course.1%}
         <td>{{course[1]}}</td>
         <td>{{course[2]}}</td>
            {% for college in data2 %}
               {% if course.2 == college.0 or course.2 == college.1%}
                  <td>{{college[1]}}</td>
               {% endif %}
               {% endfor %}
           {% endif %}
        {% endfor %}
      <td>{{students[4]}}</td>
      <td>{{students[5]}}</td>
      <td>
         <span><div class="btn btn-primary btn-edit" data-id="{{students[0]}}" ><ion-icon name="create-outline"></ion-icon> </div></span>
         <div class="btn btn-primary btn-delete" data-id="{{students[0]}}"><ion-icon name="trash-outline"></ion-icon></div>
      </td>
   </tr>
      {% endfor %}
   </tbody>
   </table>


</div>
</div>

{%- endblock %}
{% block scripts%}
{{super()}}
<script>
   var url = "{{ url_for('.deletestudent') }}";
   var urledit = "{{ url_for('.editstudent') }}"

</script>
<script src="{{ url_for('static',filename='js/event.js')}}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}